
*.xml
*.pyc
*.iml
test/testdata/~$testSBEarningUsdc.xlsx
test/testdata/~$testSBEarningUsdc_analysis.xlsx
.idea/workspace.xml~
data/depositEth_20210407.csv
data/depositUsdc_20210407.csv
data/depositEth_20210407.csv
data/depositUsdc_20210407.csv
data/Swissborg_account_statement_2021-04-20.xlsx
data/depositChsb_20210407.csv
data/Swissborg_account_statement_20201112_20210430.xlsx
data/Swissborg_account_statement_20201101_20210523.xlsx
